doctype
html
    head
        link(href='style.css' rel='stylesheet')
        title=title
    body
        nav
            each item in nav.menu
                a( href=item[1] target=item[2])
                    li(id=item[0] class="flex-item") #{item[0]}
        header
            h1 #{title}
        section
            block content


        footer